@{
   
}
@model Project_Blue.Models.PostACmt
<div class="container_blue">
    <div class="container__left">
        <ul class="container__left-sidebar">
            <a href="#" class="sidebar-items-text">
            <li class="container__sidebar-items">
                <img class="sidebar-items-icon"
                     src="/Images/Home.png"
                     alt="Home" />
                <span class="sidebar-items-text">Trang Chủ</span>
            </li>
            </a>
            <a href="#" class="sidebar-items-text">
            <li class="container__sidebar-items">
                <img class="sidebar-items-icon"
                     src="/Images/User.png"
                     alt="Home" />
                <span class="sidebar-items-text">Trang cá nhân</span>
            </li>
            </a>
            <a href="#" class="sidebar-items-text">
            <li class="container__sidebar-items">
                <img class="sidebar-items-icon"
                     src="/Images/Savepost.png"
                     alt="Home" />
                <span class="sidebar-items-text">Bài đăng đã lưu</span>
            </li>
            </a>
        </ul>
        <ul class="container__left-message">
            <div class="grid__left-message">
                <span class="container__left-message--text"> Thông báo </span>
                <i class="fa-solid fa-chevron-down container__left-message--icon"></i>
            </div>
        </ul>
    </div>
    <div class="container__center">
        <a asp-action="PostStatus" class="container__center-user-post">
            <div class="container__center-user-post">
                    <span class="form__center-title">Tạo bài viết</span>
            </div>
        </a>
        @if(Model != null)
            @foreach (var items in Model.BaiPostList)
                {
                    <div class="container__center-others-post">
                        <div class="grid__center-others-post">
                            <img class="center__img-others-post"
                                 src="@items.AnhBaiPost"
                                 alt="others-post" />
                            <div class="center__bg-name-post">
                                <img class="center__icon-others-post"
                                     src="@items.AnhNguoiPost"
                                     alt="User_img" />
                                <span class="center__name-others-post">@items.TenNguoiPost</span>
                            </div>
                        </div>
                        <div class="center__others-post-caption">@items.Caption</div>
                        <div class="center__others-post-details">@items.MoTa</div>
            <div class="center__others-post-reaction">
                <a href="#" class="grid__others-post-reaction">
                    <i class="fa-regular fa-heart others-post-react-icon"></i>
                    <span class="others-post-react-text">Like</span>
                </a>
                <a href="#" class="grid__others-post-reaction comment_post">
                    <i class="fa-regular fa-comment others-post-react-icon"></i>
                    <span class="others-post-react-text">Comment</span>
                </a>
                <a href="#" class="grid__others-post-reaction">
                    <i class="fa-regular fa-share-from-square others-post-react-icon"></i>
                    <span class="others-post-react-text">Share</span>
                </a>
            </div>

            <ul class="center__others-post-cmt">
                @foreach (var item in Model.BinhLuanList){
                    @if(items.MaBaiPost == item.MaBaiPost){
                    <li class="others-post-cmt-items">
                        <img class="post-cmt-items-img"
                             src="@item.AnhNguoiCmt"
                             alt="User_img" />
                        <div class="grid__cmt-items">
                            <div class="cmt-items-user-name">@item.TenNguoiCmt</div>
                            <div class="cmt-items-user-cmt">@item.NoiDungCmt</div>
                        </div>
                    </li>
                    }
                }
             <form asp-action="PostCmt" class="form__others-post-cmt-items">
              <img
                class="post-cmt-items-img"
                src="@ViewBag.AnhDaiDien"
                alt="User_img"
              />
              <div class="form__user-post">
                <input name="noiDungCmt"
                  class="form__user-post-input"
                  type="text"
                  placeholder="Viết bình luận..."
                />
                
                <input name="maBaiPost"
                  value="@items.MaBaiPost"
                  class="form__user-post-input"
                  type="hidden"
                  placeholder="Viết bình luận..."
                />
              <button type="submit">submit</button>
              </div>
            </form>
            </ul>
      </div>
    }

    </div>
    <div class="container__right">
        <ul class="container__right-sidebar">
            <li class="container__right-items-head">
                <span class="container__right-items-text"> Tin nhắn </span>
                <i class="fa-solid fa-chevron-up container__left-message--icon"></i>
            </li>
            <li class="container__right-items">
                <img class="right-items-icon"
                     src="/images/User.png"
                     alt="User_imgae" />
                <div class="grid__right-items-username">
                    <div class="right-items-username">Em</div>
                    <div class="right-items-message">Sao anh chưa về</div>
                </div>
            </li>
        </ul>
        <ul class="container__right-sidebar">
            <li class="container__right-items-head">
                <span class="container__right-items-text"> Bạn bè </span>
                <i class="fa-solid fa-chevron-up container__left-message--icon"></i>
            </li>

            <li class="container__right-items">
                <img class="right-items-icon"
                     src="/images/User.png"
                     alt="User_imgae" />
                <div class="grid__right-items-username">
                    <div class="right-items-username">Huỳnh Gia Khiêm</div>
                    <div class="right-items-message">Đang online</div>
                </div>
            </li>
        </ul>

        <ul class="container__right-sidebar">
            <li class="container__right-items-head">
                <span class="container__right-items-text"> Nhóm </span>
                <i class="fa-solid fa-chevron-up container__left-message--icon"></i>
            </li>

            <li class="container__right-items">
                <img class="right-items-icon"
                     src="/images/User.png"
                     alt="User_imgae" />
                <div class="grid__right-items-username">
                    <div class="right-items-username">Hutech Group</div>
                </div>
            </li>
        </ul>
    </div>
</div>
